<!doctype html>

<html class="no-js" lang="en">

	<head>
		
		<meta charset="utf-8"/>
		
		<title>Gearbox Design | <%= title %></title>

		<% if (meta) { %>
			<meta content="<%= meta.author %>" name="author"/>
			<meta content="<%= meta.description %>" name="description"/>
		<% } %>
		<% if (og) { %>
			<meta content="<%= og.title %>" property="og:title"/>
			<meta content="<%= og.type %>" property="og:type"/>
			<meta content="<%= url %>" property="og:url"/>
			<meta content="<%= og.image && og.image.url %>" property="og:image"/>
			<meta content="<%= og.description %>" property="og:description"/>
		<% } %>

		<% include ../partials/head %>

	</head>

	<body>

	    <div data-app><%- app %></div>
	     	
	 	<script nonce="<%= nonce %>">
	 		window.STORE_REDUCERS = <%- JSON.stringify(storeReducers) %>;
	 		window.STORE_STATE = <%- JSON.stringify(storeState) %>;
	 		window.SITE_MAP_TREE = <%- JSON.stringify(siteMapTree) %>;
	 		window.PORT = <%= port %>;
	 	</script>

	 	<script src="<%= manifest['vendor.js'] %>"></script>
	 	<script src="<%= manifest['main.js'] %>"></script>

	 	<% include ../partials/facebook %>

	 </body>

 </html>